<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>
<h2>Enter your name, and a URL for your photo:</h2>

<% if @student.errors.any? %>
	<ul>
	<% @student.errors.full_messages.each do |error| %>
		<li><%= error %>
	<% end %>
	</ul>
<% end %>

<%= form_for @student do |f| %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :img_url %>
	<%= f.text_area :img_url %>

	<%= f.submit %>

<% end %>